fastapi
uvicorn[standard]
jinja2
python-multipart
SQLAlchemy
mysql-connector-python
bcrypt
tensorflow
scikit-learn
wordcloud
joblib
numpy
pandas
matplotlib
mysql-connector-python
python-multipart
qiskit-aer
itsdangerous
bcrypt